$color-primary-blue: #edf5ff;
$color-primary-grey: #414141;
$color-primary-lightgrey: #bfbfbf;
$color-primary-green: #71b971;
$color-primary-yellow: #fcf2dc;
$color-primary-pink: #fceeec;

$color-secondary-green: #f8fff8;

$color-red: #bd4c4c;

$color-black: #000;